<VirtualHost *:80>  
    DocumentRoot "F:/ProjectsQTDL/public" 
    ServerName qlthuvien.localhost
    # Set access permission 
    <Directory "F:/ProjectsQTDL/public"> 
        Options Indexes FollowSymLinks Includes ExecCGI
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>